<form>
  <div class="input-group no-border">
    <input class="form-control search-input" placeholder="Search..." type="text" value="">

    <div class="search-container">
      <div class="ti-search search-icon"></div>
    </div>


    <div class="fixed-plugin filter-container flip-horizontal">
      <div id="dropdown" class="dropdown show-dropdown">
        <div data-toggle="dropdown">
          <div class="ti-filter filter-icon"> </div>
        </div>
        <ul id="dropdown-menu" class="dropdown-menu menu-container">
          <li class="header-title flip-horizontal">Sidebar Background</li>
          <li class="adjustments-line text-center flip-horizontal">
            <a href="javascript:void(0)" class="switch-trigger background-color">
              <span class="badge filter badge-white active" data-color="white"></span>
              <span class="badge filter badge-black" data-color="black"></span>
            </a>
          </li>

          <li class="header-title flip-horizontal">Sidebar Active Color</li>
          <li class="adjustments-line text-center flip-horizontal">
            <a href="javascript:void(0)" class="switch-trigger active-color">
              <span class="badge filter badge-primary" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="info"></span>
              <span class="badge filter badge-success" data-color="success"></span>
              <span class="badge filter badge-warning" data-color="warning"></span>
              <span class="badge filter badge-danger active" data-color="danger"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>