<!-- search -->

<!-- end here -->

<!-- info -->
<div class="col-md-4 grids">
	<div class="ih-item rectangle effect5">
		<a>
		    <div class="img"><img src="#" alt="img" class="img-responsive"></div>
		    <div class="info">
		      	<div class="info-back">
		        	<h3>Name</h3>		          
		      	</div>			          
		    </div>
		</a>
	</div>
	<div class="bottom">
	  	<p>Name</p>
	  	<ul>
    	  	<li>Organization</li><br/>
    	  	<li>Group</li><br/>
    	  	<li>Role</li>
	  	</ul>
    </div>
</div>
<!-- end here -->
