div {
  background-color: #333;
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
}

span {
  text-align: center;
  color: white;
  display: block;
  text-decoration: none;
  margin-top: 20px;
}